<!DOCTYPE html>
<html lang="en">
<head>
    <!--inject:../components/html/common-meta.html-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>in2health</title>
    <!--inject:../components/html/favicon.html-->
    <!--inject:../components/html/common-css.html-->
    <!--inject:../components/html/extra-header.html-->
</head>
<body>
    <div class="overlay"></div>
    <div class="wrapper">
        <!-- Sidebar -->
        <!--inject:../components/sidebar.html-->

        <!-- Content -->
        <main id="content" class="reduce-my-risks">
            <button type="button" class="sidebar-collapse">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <section class="reduce-my-risks__header">
                <div class="inner-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h1>Reduce my risks</h1>
                                <p class="mt-0 mb-2">Take a sneak peek into your future</p>
                                <p class="my-0 smaller">This interactive tool allows you to see what effect 
                                    some of the most important lifestyle choices can have on your Medical Age and Vitality Score. 
                                    Time to get inspired!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mb-17">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-xl-7">
                            <section class="reduce-my-risks__actions">
                                <p class="smaller mb-7">Here’s some things you can do to improve your scores. For a customised, comprehensive plan, 
                                    try a personalised action plan below.</p>
    
                                <div class="action">
                                    <div class="action__wrapper">
                                        <input type="checkbox" id="action1" name="action1" value="true" class="action__input">
                                        <label class="action__label" for="action1">
                                            <b class="action__title">Sleep better</b>
                                            <span class="action__description">Getting 6-8 hours of good quality sleep at night is vital</span>
                                        </label>
                                    </div>
                                    <img src="assets/images/icons/tooltip.svg" class="action__icon theme-tooltip" data-toggle="popover" data-placement="top" data-content="Stress can be overwhelming. Access your action pan to learn strategies to manage your stress levels so you can enjoy life.">
                                </div>
                                <div class="action">
                                    <div class="action__wrapper">
                                        <input type="checkbox" id="action2" name="action2" value="true" class="action__input">
                                        <label class="action__label" for="action2">
                                            <b class="action__title">Exercise more</b>
                                            <span class="action__description">Exercise has a huge impact protecting you from preventable diseases</span>
                                        </label>
                                    </div>
                                    <img src="assets/images/icons/tooltip.svg" class="action__icon theme-tooltip" data-toggle="popover" data-placement="top" data-content="Stress can be overwhelming. Access your action pan to learn strategies to manage your stress levels so you can enjoy life.">
                                </div>
                                <div class="action">
                                    <div class="action__wrapper">
                                        <input type="checkbox" id="action3" name="action3" value="true" class="action__input">
                                        <label class="action__label" for="action3">
                                            <b class="action__title">Get more social</b>
                                            <span class="action__description">Socially connecting protects you from chronic diseases -and it’s fun!</span>
                                        </label>
                                    </div>
                                    <img src="assets/images/icons/tooltip.svg" class="action__icon theme-tooltip" data-toggle="popover" data-placement="top" data-content="Stress can be overwhelming. Access your action pan to learn strategies to manage your stress levels so you can enjoy life.">
                                </div>
                                <div class="action">
                                    <div class="action__wrapper">
                                        <input type="checkbox" id="action4" name="action4" value="true" class="action__input">
                                        <label class="action__label" for="action4">
                                            <b class="action__title">Eat more fruit and vegetables</b>
                                            <span class="action__description">Eat the good stuff, in different colours, every day, to make a difference</span>
                                        </label>
                                    </div>
                                    <img src="assets/images/icons/tooltip.svg" class="action__icon theme-tooltip" data-toggle="popover" data-placement="top" data-content="Stress can be overwhelming. Access your action pan to learn strategies to manage your stress levels so you can enjoy life.">
                                </div>
                                <div class="action">
                                    <div class="action__wrapper">
                                        <input type="checkbox" id="action5" name="action5" value="true" class="action__input">
                                        <label class="action__label" for="action5">
                                            <b class="action__title">De-stress</b>
                                            <span class="action__description">High levels of stress can be toxic to our health</span>
                                        </label>
                                    </div>
                                    <img src="assets/images/icons/tooltip.svg" class="action__icon theme-tooltip" data-toggle="popover" data-placement="top" data-content="Stress can be overwhelming. Access your action pan to learn strategies to manage your stress levels so you can enjoy life.">
                                </div>
                                <div class="action">
                                    <div class="action__wrapper">
                                        <input type="checkbox" id="action6" name="action6" value="true" class="action__input">
                                        <label class="action__label" for="action6">
                                            <b class="action__title">Become an ex smoker</b>
                                            <span class="action__description">This is the single most important thing that you can do for your health</span>
                                        </label>
                                    </div>
                                    <img src="assets/images/icons/tooltip.svg" class="action__icon theme-tooltip" data-toggle="popover" data-placement="top" data-content="Stress can be overwhelming. Access your action pan to learn strategies to manage your stress levels so you can enjoy life.">
                                </div>
                                <div class="action">
                                    <div class="action__wrapper">
                                        <input type="checkbox" id="action7" name="action7" value="true" class="action__input">
                                        <label class="action__label" for="action7">
                                            <b class="action__title">Drink less alcohol</b>
                                            <span class="action__description">Be mindful of safe alcohol intake to maintain good health</span>
                                        </label>
                                    </div>
                                    <img src="assets/images/icons/tooltip.svg" class="action__icon theme-tooltip" data-toggle="popover" data-placement="top" data-content="Stress can be overwhelming. Access your action pan to learn strategies to manage your stress levels so you can enjoy life.">
                                </div>
                                <div class="action">
                                    <div class="action__wrapper">
                                        <input type="checkbox" id="action8" name="action8" value="true" class="action__input">
                                        <label class="action__label" for="action8">
                                            <b class="action__title">Get into the healthy weight range</b>
                                            <span class="action__description">Understand what a healthy weight is for you with an action plan</span>
                                        </label>
                                    </div>
                                    <img src="assets/images/icons/tooltip.svg" class="action__icon theme-tooltip" data-toggle="popover" data-placement="top" data-content="Stress can be overwhelming. Access your action pan to learn strategies to manage your stress levels so you can enjoy life.">
                                </div>
                            </section>                        
                        </div>
                        <div class="col-lg-6 col-xl-5">
                            <section class="reduce-my-risks__scores">
                                <section class="reduce-my-risks__score reduce-my-risks__score_top">
                                    <h4 class="mt-6 mb-5">Potential scores</h4>                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Medical Age</h5>
                                            <!--inject:../components/medical-age-matches.html-->
                                        </div>
                                        <div class="col-6 d-flex flex-column justify-content-between align-items-center pb-10">
                                            <h5>Vitality score</h5>
                                            <!--inject:../components/battery-good.html-->
                                        </div>
                                    </div>
                                </section>
    
                                <section class="reduce-my-risks__score reduce-my-risks__score_bottom">
                                    <h4 class="mt-6 mb-5">Current scores</h4 class="mt-6 mb-5">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Medical Age</h5>
                                            <!--inject:../components/medical-age-bad.html-->
                                        </div>
                                        <div class="col-6 d-flex flex-column justify-content-between align-items-center pb-10">
                                            <h5>Vitality score</h5>
                                            <!--inject:../components/battery-average.html-->
                                        </div>
                                    </div>
                                </section>
                            </section>                        
                        </div>
                    </div>
                </div>
            </section>

            <section class="reduce-my-risks__features">
                <div class="inner-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="mb-7">Request personalised<br>action plan</h3>
                                <p class="mb-7">It’s time to act.</p>
                                <p class="mb-7">An In2health doctor will analyse your information and provide actionable lifestyle and medical 
                                    recommendations including referrals if you need them (for a small fee), to support you to live well now and into the future.</p>
                                <button class="btn btn-primary w-75" data-toggle="modal" data-target="#requestPlan">Take some action</button>
                            </div>
                            <div class="col-md-6">
                                <img src="assets/images/requests-personalised-action-plan.png" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="requestPlan" tabindex="-1" role="dialog" aria-labelledby="requestPlanLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
                <div class="modal-body">
                    <section id="request-plan-step1">
                        <img src="assets/images/request-plan-mail.png">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="mt-3">Ready to request your action plan?</h3>
                        <p class="mt-2 mb-6">Click the button below and an In2Health dcotor will be in touch with you via 
                            <a href="mailto:dinadelestrange@gmail.com">dinadelestrange@gmail.com</a> within 
                            24 hours to let you know when your action plan will be ready.</p>
                        <button class="btn btn-primary btn-wider" type="button" id="requestPlanButton">Send request</button>
                        <hr class="my-8">
                        <p class="smaller"><b>Optional services:</b></p>
                        <p class="smaller">Our In2Health doctors can provide referrals (e.g. blood tests) for a small fee of $14.85, which covers 
                            the cost of reviewing and following up your results. Alternatively, we can also give you a summary 
                            for your GP at no additional charge. </p>
                    </section>
                    <section id="request-plan-step2" class="text-center d-none">
                        <img src="assets/images/request-plan-sent.png">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="mt-3">Your email has been<br>successfully sent!</h3>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!--inject:../components/html/common-js.html-->
    <script>
    $(function(){
        $("#nav-menu > li:nth-of-type(2) > a").addClass("sidebar__menu-link_active");
    });
    </script>
</body>
</html>