<section class="health-score health-score_small">
    <div class="health-score__title">
        Diabetest Prevention
        <img src="assets/images/icons/tooltip.svg" class="health-score__icon theme-tooltip" data-toggle="popover" 
            data-placement="right" data-title="What’s this?" 
            data-content="This complex calculation includes all the recognised medical and lifestyle factors, highlighting how well you’re doing reducing your risk of  diabetes (which is widespread in Austalia with huge impacts on quality of life).">
    </div>
    <div class="health-score__diagramm">
        <div class="health-score__arrow rotateAnimation" data-scores="95"></div>       
    </div>
    <div class="health-score__labels">
        <span class="health-score__label">High Risk</span>
        <span class="health-score__label">Low Risk</span>
    </div>
</section>