<section class="health-score health-score_small">
    <div class="health-score__title">
        Stress Score
        <img src="assets/images/icons/tooltip.svg" class="health-score__icon theme-tooltip" data-toggle="popover" 
            data-placement="right" data-title="What’s this?" 
            data-content="This calculation reviews sources of stress in your personal and work life as well as your resilience and mindset to identify how well you are managing impacts on your overall health.">
    </div>
    <div class="health-score__diagramm">
        <div class="health-score__arrow rotateAnimation" data-scores="29"></div>
    </div>
    <div class="health-score__labels">
        <span class="health-score__label">High Risk</span>
        <span class="health-score__label">Low Risk</span>
    </div>
</section>