<section class="health-score">
    <div class="health-score__title">
        Health score
        <img src="assets/images/icons/tooltip.svg" class="health-score__icon theme-tooltip" data-toggle="popover" 
            data-placement="right" data-title="What’s this?" 
            data-content="This medical evidence based calculation utilises 126 different factors and analyses their effect on future you.">
    </div>
    <div class="health-score__diagramm">
        <div class="health-score__arrow rotateAnimation" data-scores="65"></div>
        <div class="health-score__score countAnimation">65</div>
    </div>
    <div class="health-score__labels">
        <span class="health-score__label">High Risk</span>
        <span class="health-score__label">Low Risk</span>
    </div>
</section>