<section class="info-box">
    <header class="info-box__header">
        <strong class="info-box__header-title">
            Medical Age
            <img src="assets/images/icons/tooltip.svg" class="info-box__header-icon theme-tooltip" data-toggle="popover" data-placement="left" data-title="How is this calculated?" data-content="This is calculated using your sleep quality, stress levels, sense of purpose, social connections, BMI and lifestyle factors (diet health, exercise, alcohol intake).">
        </strong>
        <p class="info-box__header-text">This measures the impacts of how you live on your long-term health. Aim for an age younger 
            than your actual age to feel good and avoid chronic diseases.</p>
    </header>
    <div class="info-box__content">
        <!--inject:../components/medical-age-matches.html-->
    </div>
    <footer class="info-box__footer">
        <img src="assets/images/icons/average-face.svg" class="info-box__footer-icon">
        <p class="info-box__footer-text">Great work. Your Medical Age matches your Actual Age. Making a few changes will improve your future health.</p>
    </footer>
</section>