<section class="medical-age medical-age_good">    
    <div class="medical-age__wrapper">
        <div class="medical-age__age medical-age__bad">
            <div class="medical-age__years medical-age__years_vary countAnimation">62</div>
            <div class="medical-age__bar medical-age__bar_vary"></div>
            <div class="medical-age__label">Medical<br>age</div>
        </div>
        <div class="medical-age__age">
            <div class="medical-age__years countAnimation">53</div>
            <div class="medical-age__bar">
                <div class="medical-age__base"></div>
            </div>
            <div class="medical-age__label">Actual<br>age</div>
        </div>
    </div>
</section>