<nav class="sidebar">
    <section class="sidebar__header">
        <img src="assets/images/logo.svg" class="sidebar__logo">
        <span class="sidebar__user">Tim Johnson</span>
    </section>

    <ul class="sidebar__menu" id="nav-menu">
        <li class="sidebar__menu-item">
            <a href="dashboard.html" class="sidebar__menu-link">
                <i class="fas fa-home"></i><span class="sidebar__menu-link-text">My Dashboard</span></a>
        </li>
        <li class="sidebar__menu-item">
            <a href="reduce-my-risks.html" class="sidebar__menu-link">
                <i class="fas fa-list-alt"></i><span class="sidebar__menu-link-text">Reduce my risks</span></a>
        </li>
    </ul>

    <ul class="sidebar__menu">                
        <li class="sidebar__menu-item">
            <a href="javascript:void(0);" class="sidebar__menu-link">
                <i class="fas fa-hand-point-up"></i><span class="sidebar__menu-link-text">Logout</span></a>
        </li>
    </ul>
</nav>